.App {
  font-family: "Fredoka One", cursive;
  text-align: center;
}

:root {
  --primary--color: lightblue;
  --output--color: #164e63;
}

body {
  background-color: #e5e7eb;
  margin: 0px;
}

.navigation {
  background-color: var(--primary--color);
  padding: 5px;
  text-align: center;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.nav-head {
  font-size: 3rem;
  color: var(--output--color);
}
.input-area {
  margin-top: 70px;
  margin-bottom: 50px;
}
input {
  font-family: inherit;
  padding: 1rem;
  width: 50vh;
  height: 10vh;
  background-color: #f1f5f9;
  border: 1px solid bold black;
  border-radius: 0.5rem;
}
.output-area {
  margin-top: 30px 30px;
  height: 10vh;
  text-align: center;
  color: var(--output--color);
  text-decoration: underline;
}
.database-area {
  margin-bottom: 50px;
  color: #fb7185;
}

.footer {
  background-color: var(--primary--color);
  padding: 3px;
  text-align: center;
  color: var(--output--color);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.footer .list-footer .list-footer-item {
  list-style: none;
  padding: 0px 20px;
  display: inline;
}
.footer .link {
  text-decoration: none;
}
.footer ul {
  padding-inline-start: 0px;
}
